#gameCanvas {
    border: 2px solid #333;
    background-color: #ddd;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.snake-segment {
    background-color: #0095DD;
    border-radius: 50%;
}

.apple {
    background-color: #FF5733;
    border-radius: 50%;
}
